<%= render 'layouts/userheader' %>

  <main>
    <center>
      <h3>ご購入ありがとうございました！</h3>
    </center>
    <p class="thanks-p"><%= link_to "注文履歴を確認する", public_orders_path,class: "btn btn-primary" %></p>
    <p class="thanks-p"><%= link_to "買い物を続ける", root_path,class: "btn btn-primary" %></p>
  </main>

<%= render 'layouts/userfooter' %>