/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: inline-block;
  clear: both;
}

header{
  width: 100%;
  height: 60px;
  background-color: #333333;
  text-align: center;
}
.header_logo{
  float: left;
  list-style: none;
  height: 0;
  line-height: 60px;
  margin-left: 30px;
}
.navbar-right{
  list-style: none;
}
.header_list_item{
  line-height: 60px;
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  color: white;
}
.header_list_item a {
  color: white;
}
.header_list_item a:hover{
  background-color: transparent !important;
}

main{
  height: 1000px;
}
.main-visual {
  width: 100%;
  height: 300px;
  background-image: url(img/mv2.jpg);
  background-size: cover ;
  background-position: center;
}
.main-visual-text{
  color: white;
  text-shadow: 0 10px 5px black;
  font-size: 80px;
  text-align: center;
  padding-top: 100px;
}

.genre{
  margin: 40px 0 0 20px;
}
.product-index, .product-top{
  width: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.product-show{
  margin-top: 100px;
}
.total_price{
  font-size: 30px;
  text-align: right;
  margin: 50px 40px 0 0 ;
}
.total_price string:nth-child(2){
  border-bottom: solid;
}
.main-content{
  padding: 0 20px;
}

.thanks-p{
  margin: 30px;
  text-align: right;
}
.container{
  height: 100%;
  width: 100%;
}

.form-control{
  width: 20%;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  padding: 50px 0;
  background-color: #848282;
}