/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: inline-block;
  clear: both;
}

header{
  width: 100%;
  height: 60px;
  background-color: #333333;
  text-align: center;
}

.header_logo{
  float: left;
  list-style: none;
  height: 0;
  line-height: 60px;
  margin-left: 30px;
}

.navbar-right{
  list-style: none;
}

.header_list_item{
  line-height: 60px;
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  color: white;
}

.header_list_item a {
  color: white;
}

.header_list_item a:hover{
  background-color: transparent !important;
}

main{
  height: 1200px;
  margin: 0 50px 0 50px;
}

.genre{
  margin: 40px 0 0 0;
  width: 150px;
  border: solid 3px;
  padding: 0.5em;
  border-radius: 0.5em;
}

.genre-head{
  width: 110px;
  border-bottom: solid;
  font-weight:bold;
  padding-bottom: 5px;
}

.genre-list {
  display: flex;
  margin-top: 15px;
  color: #666666;
  font-weight:bold;
}
.genre-list:hover {
  text-decoration: none;
}

.main-visual {
  width: 100%;
  height: 300px;
  background-image: url(img/mv2.jpg);
  background-size: cover ;
  background-position: center;
}

.main-text p{
   margin-top: 20px;
}

.main-visual-text{
  color: white;
  font-family: "MS Pゴシック";
  text-shadow: 0 10px 5px black;
  font-size: 80px;
  text-align: center;
  padding-top: 100px;
}

.main-content{
  padding: 0 20px;
  margin: 20px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.main-img{
  padding-top: 10px;
}

.street_address{
  margin-left: 90px;
}

.name{
  margin-left: 122px;
}

.table{
  margin-top: 50px;
}

.order_detail{
  margin-top: 120px;
}

table td{
  width: 150px;
}

.delivery_destinations-new{
  margin-bottom: 30px;
}

.submit{
  margin: 10px 0 50px 250px;
}

.product-name{
  padding-left: 5px;
  color: black;
  font-family: 'HGP行書体';
  font-weight:bold;
  font-size: 20px;
  text-decoration: none;
}

.price_excluding_tax{
  padding-left: 10px;
  color: red;
  font-family: 'HGP行書体';
  font-weight:bold;
  text-decoration: none;
}

.is_active{
  padding-left: 10px;
  color: black;
  font-family: 'HGP行書体';
  font-weight:bold;
  text-decoration: none;
}

.home-link{
  margin-bottom: 20px;
}

.sign-btn {
  margin-top: 20px;
  width: 150px;
  height: 50px;
  border: solid 1px;
}

.withdrow-btn{
  margin-left: 20px;
}

.confirm-btn{
  text-align: center;
}

.button {
  display: inline-block;
  border-radius: 5%;
  font-size: 10pt;
  text-align: center;
  cursor: pointer;
  padding: 12px 12px;
  background: rgba(0, 0, 127, 0.91);
  color: #ffffff;
  line-height: 1em;
  transition: .3s;
  box-shadow: 4px 4px 19px #666666;
  border: 2px solid rgba(0, 0, 127, 0.91);
}
.button:hover {
  box-shadow: none;
  color: rgba(0, 0, 127, 0.91);
  background: #ffffff;
}

.product-index, .product-top{
  width: auto;
  margin: 0;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

.pagination {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
}

.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
}

.plus{
  font-size: 50px;
}

.product-show-img{
  margin-top: 100px;
}

.product-show-text{
  margin-top: 100px;
}

.product-show-name{
  font-family: 'HGP行書体';
  font-weight:bold;
  font-size: 25px;
  padding: 0 0 20px 20px;
}

.product-show-explanation{
  font-size: 15px;
  padding: 0 0 20px 20px;
}

.product-show-price{
  color: #DD0000;
  font-size: 15px;
  padding: 0 0 20px 20px;
}

.product-show-label{
  margin-top: 10px;
}

.select{
  margin-bottom: 20px;
}

.total_price{
  font-size: 30px;
  text-align: right;
  margin: 50px 40px 0 0 ;
}

.total_price string:nth-child(2){
  border-bottom: solid;
}

.thanks-p{
  margin: 30px;
  text-align: right;
}

.container{
  height: 100%;
  width: 100%;
}

.form-control{
  width: 20%;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  padding: 50px 0;
  background-color: #848282;
}