<%= render 'layouts/userheader' %>

  <main>
    <center>
      <h3>本当に退会しますか</h3>
    </center>

    <center>
      <p>
        退会すると、会員登録情報や<br>
        これまでの購入履歴が閲覧できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。<br>
      </p>
    </center>

      <p>
        <% link_to "退会しない",  public_user_path(current_user), class: "btn btn-info" %>
      </p>
    <% if user_signed_in? && @user.id == current_user.id %>
      <div class="confirm-btn">
        <p><%= link_to "退会する", public_withdrow_path, class: "btn btn-danger", method: :patch %></p>
      </div>
    <% end %>
  </main>

<%= render 'layouts/userfooter' %>